<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!--  add property file -->
	<context:property-placeholder location="classpath:course.properties"/>
    <!-- Define your beans here -->
    
    <!-- define the dependency -->
 
 	<bean id = "myBook"
 		class = "demo.physicalBook">
 	</bean>
 	<bean id="myCourse"
 		class="demo.English">
 		<constructor-arg ref="myBook" />  		
 	</bean>
 	<bean id = "myChinese" 
 		class = "demo.Chinese">
 		<!-- set up setter injection
 			spring will find the setpb method -->
 		<property name = "pb" ref= "myBook" />
 		<!--  inject literal values -->
 		<property name ="teacher" value="${foo.teacher}"/>
 	</bean>
 
    

</beans>





